In [1]:
from RS_class.RecSystem import KnnMv

In [2]:
RC = KnnMv(filmes_path = 'movies.csv', notas_path = 'ratings.csv')

In [3]:
filmes, notas = RC.get_data()

In [4]:
filmes.head()

,filmeId,titulo,generos
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
notas.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [6]:
df = RC.aux_df(filmes = filmes, notas = notas)

In [7]:
df.head()

,usuarioId,filmeId,nota,momento,titulo,generos,total_de_votos,nota_media
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,215,3.920930
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,52,3.259615
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,102,3.946078
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,203,3.975369
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,204,4.237745

In [8]:
us_1 = RC.notas_do_usuario(data_frame = df, usuario = 3)
us_2 = RC.notas_do_usuario(data_frame = df, usuario = 2)

In [9]:
us_1.head()

         nota
filmeId
31        0.5
527       0.5
647       0.5
688       0.5
720       0.5

In [10]:
us_2.head()

         nota
filmeId
318       3.0
333       4.0
1704      4.5
3578      4.0
6874      4.0

In [11]:
RC.distancia_de_usuarios(usuario_id1 = 3, usuario_id2 = 2)

TypeError: KnnMv.notas_do_usuario() missing 2 required positional arguments: 'data_frame' and 'usuario'